.opacityBrightly {
    transition: opacity 0.3s;
    opacity: 0.6;
}
.opacityBrightly:hover {
    opacity: 1;
}
.opacityDimly {
    transition: opacity 0.3s;
}
.opacityDimly:hover {
    opacity: 0.6;
}